* {
    box-sizing: border-box;
    }
    
    body {
      background: linear-gradient(black, red, green, yellow);
      font-family: sans-serif;
      font-size: 20;
      margin: auto;
      width: 75%
    
    }
    
    #header {
      color: white;
      width: 100%;
      font-family: snell roundhand, cursive;
      display: flex;
      top: 0;
    }
    
    #header-img {
      width: 33%;
      padding: 55px;
    
    }
    
    #nav-bar {
      background-color: black;
      position: fixed;
      top:0;
      float: right;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
    }
    
    .nav-link {
      text-decoration: none;
      color: white;
      display: block;
    }
    
    ul {
      list-style-type: none;
      width: 100%;
    }
    
    li {
      float: left;
      padding: 15px;
        
    }
    
    .heading {
      padding: 100px;
      
    }
    
    .eventheader {
      font-size: 25;
      font-weight: 900
    }
    
    .eventtitle {
      font-weight: bold;
    }
    
    @media only screen and (min-width: 570px) {
      #video {
        z-index: 1;
      }
    }
    
    @media only screen and (max-width: 300px) {
      #header-img {
        z-index: 1;
        max-height: 125px;
      }
    }
    